body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #333;
  font-family: '微软雅黑';
}
a {
  text-decoration: none;
  color: #333;
}
img,
input {
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
